.footer-body {
	@include flexbox();
	justify-content: space-between;
	height: 100%;
	padding-bottom: 40px;
	@media (max-width: $md3){
			flex-direction: column-reverse;
			text-align: center;
			justify-content: center;
			padding-bottom: 30px;
			margin-top: -10px;
		}
	&__text {
		font-family: 'PT Sans';
		font-size: 15px;
		line-height: 25px;
		font-weight: 400;
		color: #4d4d4d;
		a{
			text-decoration: underline;
			color: #4d4d4d;
		}
	}
	&__logo {
		@media (max-width: $md3){
			margin-bottom: 20px;
		}
	}
}
